<section class="px-4 py-6">
  <div class="flex items-center justify-between gap-3 mb-4">
    <h2 class="text-2xl font-bold">ขายดีที่สุดในวันนี้</h2>
    <div class="flex items-center gap-2">
      <p-datepicker
        ThaiYear
        [(ngModel)]="selectedDate"
        (onSelect)="onDateChange($event)"
        [showIcon]="true"
        inputId="buttondisplay"
        [showButtonBar]="true"
        [showClear]="true"
        placeholder="11 ตุลาคม 2568"
        readonlyInput
      />
      <p-button
        icon="pi pi-chevron-left"
        class="p-button-rounded p-button-text p-button-plain"
        (onClick)="goToPreviousDay()"
        pTooltip="วันก่อนหน้า"
      ></p-button>
      <p-button
        icon="pi pi-chevron-right"
        class="p-button-rounded p-button-text p-button-plain"
        (onClick)="goToNextDay()"
        pTooltip="วันถัดไป"
      ></p-button>
    </div>
  </div>
  <div class="grid gap-4 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
    @for (game of games; track game.id) {
    <app-user-game-card [game]="game"></app-user-game-card>
    }
  </div>
</section>

<p-toast />
