<nav class="fixed bg-surface-950/60 backdrop-blur-xs shadow-md top-0 left-0 right-0 z-50">
  <div class="relative py-3 px-4 flex items-center justify-between">
    <div
      class="flex items-center gap-4"
      [class.hidden]="isSearchFocused"
      [class.md:flex]="isSearchFocused"
    >
      <a class="flex items-center" href="/">
        <img src="/logo.png" alt="Kiro Logo" width="40" height="40" class="mr-2" />
        <span class="text-2xl font-bold">Kiro</span>
      </a>

      @if (!authMode) {
      <div class="flex items-center gap-2">
        @for (link of navigationItems; track $index) { @if (isActiveRoute(link.route)) {
        <p-button
          label="{{ link.label }}"
          [routerLink]="link.route"
          size="small"
          [rounded]="true"
        />
        } @else {
        <p-button
          label="{{ link.label }}"
          [routerLink]="link.route"
          size="small"
          variant="text"
          [rounded]="true"
        />
        } }
      </div>
      }
    </div>

    @if (!authMode) {
    <div
      class="search-container transition-all duration-300 ease-in-out"
      [class.search-expanded]="isSearchFocused"
      [class.search-normal]="!isSearchFocused"
      [class.right-[9rem]]="isAuthenticated"
      [class.right-[200px]]="!isAuthenticated"
    >
      <p-floatlabel variant="on">
        <p-iconfield>
          <p-inputicon class="pi pi-search" />
          <input
            pInputText
            id="on_label"
            autocomplete="off"
            pSize="small"
            class="w-full transition-all duration-300 ease-in-out"
            [(ngModel)]="searchQuery"
            (focus)="onSearchFocus()"
            (blur)="onSearchBlur()"
            (input)="onSearchInput()"
            (keyup.escape)="onSearchBlur()"
          />
          @if (isSearchFocused) {
          <p-inputicon class="pi pi-times hover:cursor-pointer" (click)="onSearchBlur()" />
          }
        </p-iconfield>
        <label for="on_label">ค้นหา</label>
      </p-floatlabel>
    </div>
    }

    <div
      class="flex items-center gap-2"
      [class.hidden]="isSearchFocused"
      [class.md:flex]="isSearchFocused"
    >
      @if (!isAuthenticated) {
      <p-button label="เข้าสู่ระบบ" variant="text" size="small" [routerLink]="['/auth/login']" />
      <p-button label="สมัครสมาชิก" size="small" [routerLink]="['/auth/signup']" />
      } @else {
      <p-button
        icon="pi pi-shopping-cart"
        variant="text"
        size="small"
        [routerLink]="['/cart']"
      />
      <p-button
        [label]="currentUser?.username || ''"
        icon="pi pi-user"
        variant="text"
        size="small"
        tooltipPosition="bottom"
        #userMenu
        (click)="menu.toggle($event)"
      />
      <p-menu #menu [model]="userMenuItems" [popup]="true" />
      }
    </div>
  </div>
</nav>
<div class="search-overlay" [class.active]="isSearchFocused" (click)="onSearchBlur()"></div>
