<nav class="fixed bg-surface-950/70 backdrop-blur-sm shadow-md top-0 left-0 right-0 z-50">
  <div class="py-3 px-4 flex items-center justify-between">
    <div class="relative flex flex-1 items-center me-2">
      <div
        class="action-buttons flex items-center gap-4"
        [class.hidden]="isSearchFocused"
        [class.md:flex]="isSearchFocused"
      >
        <a class="flex items-center" href="/">
          <img src="/logo.png" alt="Kiro Logo" width="40" height="40" class="mr-2" />
          <span class="text-2xl font-bold">Kiro</span>
        </a>

        @if (!authMode) {
        <div class="flex items-center gap-2">
          @for (link of navigationItems; track $index) { @if (isActiveRoute(link.route)) {
          <p-button
            label="{{ link.label }}"
            [routerLink]="link.route"
            size="small"
            [rounded]="true"
          />
          } @else {
          <p-button
            label="{{ link.label }}"
            [routerLink]="link.route"
            size="small"
            variant="text"
            [rounded]="true"
          />
          } }
        </div>
        }
      </div>

      @if (!authMode) {
      <div
        class="absolute grid gap-2 items-center transition-all duration-300 ease-in-out right-0 w-1/4"
        [class.w-full]="isSearchFocused"
        [class.grid-cols-[10%_auto]]="isSearchFocused"
      >
        @if (isSearchFocused) {
        <p-select
          class="sx"
          [options]="[{ name: 'test' }]"
          placeholder="ทั้งหมด"
          optionLabel="name"
          size="small"
        />
        }
        <p-floatlabel variant="on">
          <p-iconfield>
            <p-inputicon class="pi pi-search" />
            <input
              #searchInput
              pInputText
              id="on_label"
              autocomplete="off"
              pSize="small"
              class="w-full transition-all duration-300 ease-in-out bg-primary-900/40!"
              [(ngModel)]="searchQuery"
              (focus)="onSearchFocus()"
              (input)="onSearchInput()"
              (keyup.escape)="onSearchBlur()"
              fluid
            />
            @if (isSearchFocused) {
            <p-inputicon class="pi pi-times cursor-pointer z-50" (click)="clearSearch()" />
            }
          </p-iconfield>
          <label for="on_label">ค้นหา</label>
        </p-floatlabel>
      </div>
      }
    </div>

    <div class="relative flex justify-center items-center">
      <div
        class="action-buttons flex items-center gap-2"
        [class.hidden]="isSearchFocused"
        [class.md:flex]="isSearchFocused"
      >
        @if (!isAuthenticated) {
        <p-button label="เข้าสู่ระบบ" variant="text" size="small" [routerLink]="['/auth/login']" />
        <p-button label="สมัครสมาชิก" size="small" [routerLink]="['/auth/signup']" />
        } @else {
        <p-button icon="pi pi-shopping-cart" variant="text" size="small" [routerLink]="['/cart']" />
        <p-button variant="text" size="small" (click)="menu.toggle($event)">
          <img
            [src]="endpoint + currentUser?.profileImage"
            alt="User Avatar"
            class="w-6 h-6 rounded-full object-cover"
          />
        </p-button>
        }
      </div>
      <p-button
        class="absolute w-full action-buttons"
        [class.hidden]="!isSearchFocused"
        [class.md:flex]="!isSearchFocused"
        fluid
        label="ปิด"
        size="small"
        (click)="onSearchBlur()"
      />
    </div>
    <p-menu #menu [model]="userMenuItems" [popup]="true" />
  </div>
</nav>
<div
  class="search-overlay bg-surface-950/40 backdrop-blur-md z-10"
  [class.active]="isSearchFocused"
  (click)="onSearchBlur()"
></div>
<p-toast />
<p-confirmdialog />
