<section class="px-4 py-6">
  <div class="flex items-center justify-between gap-3 mb-4">
    <h2 class="text-2xl font-bold">เกมทั้งหมด ({{ games.length }})</h2>
    <div class="flex items-center gap-2">
      <p-button
        icon="pi pi-chevron-left"
        class="p-button-rounded p-button-text p-button-plain"
        (onClick)="goToPreviousDay()"
        pTooltip="วันก่อนหน้า"
      ></p-button>
      <p-button
        icon="pi pi-chevron-right"
        class="p-button-rounded p-button-text p-button-plain"
        (onClick)="goToNextDay()"
        pTooltip="วันถัดไป"
      ></p-button>
    </div>
  </div>
  <div class="flex flex-row overflow-auto mb-4 space-x-4 hide-scrollbar">
    @for (game of games; track game.id) {
    <app-user-game-card [game]="game" class="flex-shrink-0"></app-user-game-card>
    }
  </div>
</section>

<p-toast />
